@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

.fade-out {
    animation: fadeOut 2.5s normal forwards;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f148;
    border-radius: 8px;
    margin: 0;
}

::-webkit-scrollbar-thumb {
    background-color: #dadce0;
    border: 4px solid transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177)
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


@keyframes fadeOut {
    to {
        opacity: 0;
    }
}